#assets-table table { margin-bottom: 0; }
table.index h4 { font-size: 110%; margin-top: .5em; margin-bottom: .25em;}
 
table.index p { margin-top: .25em; margin-bottom: .5em; }
table.index td.asset { width: 72px; }

table.index td.asset a img { padding: 3px; background-color: #eaeaea; border: 1px solid #ccc; }

table.index td.asset-title, table.index td.tag-name { font-size: 115%; font-weight: bold;}
table.index td.asset-title a, table.index td.tag-name a { text-decoration: none; color: black; }

table.index td.asset-tags a { color: black; text-decoration:none; }
table td.asset-title a:hover, table.index td.asset-tags a:hover, table.index td.tag-name a:hover {
 color: blue; text-decoration: underline; }
table .caption { color: #9eb3bf; font-style: italic; font-weight: normal; margin: 10px; }

table td.add-to-bucket { width: 90px;}

#assets { clear: both; position: relative; margin-bottom: 4px; padding: 0; 
  border: solid #cdc295; border-width: 0 1px 1px 1px; min-height: 150px; height: auto !important; height: 150px; background: white; }

#assets h4 { font-size: 100%; font-weight: bold; margin: 0; } 
#assets .note { font-size: 85%; font-weight: normal; color: black; }
#assets p { padding: 5px 10px 7px; background: #eae3c5; margin: 0; }

#assets p.note { margin: 5px 0; font-size: 85%; font-style: italic;  background: #fff;}

#clear-bucket, #reorder, #done {position: absolute; right: 10px;}
#clear-bucket a, #reorder a, #done a { text-align: right; font-weight: bold; font-size: 85%;
  color: black; text-decoration: none; }
#clear-bucket a:hover, #reorder a:hover, #done a:hover { color: blue; text-decoration: underline; }
   
#assets .pane {  }

#asset-tabs { margin: 24px 0 0 0; border-bottom: 1px solid #cdc295;  }
#asset-tabs .asset-tab {
  background-color: #f5f1e2;
  border: 1px solid #f5f1e2; 
  border-bottom: 1px solid #cdc295;
  color: black;
  display: inline-block;
  font-size: 100%;
  font-weight: bold;
  text-align: left;
  margin: 0 0 -1px 0;
  padding: 7px 10px 4px;
  text-decoration: none;
  text-transform: titlecase;
  outline: none;
  -moz-outline: none;
}
#asset-tabs .asset-tab.here { background-color: #eae3c5; border: 1px solid #cdc295; border-bottom: 1px solid #eae3c5; }


#bucket ul, #page-attachments ul { list-style: none; margin: 0; padding: 0 10px 0 0;}

#assets li.asset  { position: relative; float:left; margin: 8px 0 8px 8px; height: 106px;
  }
  
#assets li.asset img { padding: 3px; background-color:#eaeaea; border: 1px solid #ccc; }
  
#assets .info { position: absolute; top: 5px; left: 57px;  background: white; border: 5px solid #c0c0c0; 
  font-size: 90%; padding: 10px 15px 15px; z-index: 100; min-width: 200px; }
#assets .info p { margin: 0;}
#assets .info a { display: inline; background: none; border: none; color: black; text-decoration: none; }
#assets .info  a:hover { color: blue; text-decoration: underline; }
#assets .image_info h4 { margin: 0 0 10px 0; padding: 0; background: none; }
 
.pagination { margin-top: -10px;  margin-bottom: 25px; font-weight: bold; font-size: 90%; color: silver; }
.pagination a { text-decoration: none; color: black; }
.pagination a:hover { text-decoration: underline; color: blue; }
.pagination .current { color: black; }

#content .form-area p.upload { margin: 2px 0 10px 0; padding: 10px 10px; background: white; border: 1px solid #cdc295; }
#content .form-area div.asset { margin: 2px 0; padding: 10px; background: white; border: 1px solid #cdc295; }
#content p.content label.filename { margin-bottom: -5px; display: block; }
#content .form-area p.upload  label { margin-bottom: 5px; display: block; }
p#asset-name { padding-top: 8px; font-size: 80%; }
p.info { font-size: 85%; }




table#site-map td.assets, table#site-map th.assets  { text-align: right; border: 1px solid red;}

#upload-assets { }
#upload-assets a { color: black; font-weight: bold; text-decoration: none; }
#upload-assets a:hover { color: blue; text-decoration: underline; }
#upload-form { margin: 0 10px; }


