%ul#bucket
  - if session[:bucket]
    - session[:bucket].each do |url, info| 
      %li.asset
        = link_to image_tag(info[:thumbnail]), url
        #info
          = link_to info[:title], edit_asset_url(id)
          - if @page
            %br
            = link_to "attach image", "#"
  - else
    %li
      %p.note Your bucket is empty
