%p.title
  %label{ :for => "asset_title" } Title
  = form.text_field :title, :class => 'textbox', :maxlength => 100 
#extended-metadata{ :class => "row", :style => "display: none" }
  %table.fieldset{ :cellpadding => "0", :cellspacing => "0", :border => "0" }
    %tr
      %td.label
        %label{ :for => "asset_caption" } Caption
      %td.field
        = form.text_field :caption, :class => 'textbox', :maxlength => 255 
%p
  %small
    %a{ :id => "more-extended-metadata", :href => "#", :onclick => "#{toggle_javascript_for('extended-metadata')}; return false;" } More
    %a{ :id => "less-extended-metadata", :href => "#", :onclick => "#{toggle_javascript_for('extended-metadata')}; return false;", :style => "display: none" } Less

