- include_stylesheet 'admin/assets'

%h1 Assets

%p 
  Assets and images can be uploaded and then attached or inserted into pages, snippets and layouts. 
  Click on a asset name below to edit it or click <code>Remove</code> to delete it.

%p
  %label Search
  %input{ :type => "text", :id => "search", :name => "search" }
  = observe_field 'search',  :frequency => 1, :update => 'assets_table', :url =>  { :controller => 'assets', :action=> 'index' }, :method => 'get', :with => "'search=' + escape(value)"


#assets_table
  = render :partial => 'asset_table'
  
= render :partial => 'assets_container'
  
%p= link_to image_tag('admin/new-asset.png', :alt => 'New Asset'), new_asset_path