- include_stylesheet 'admin/assets'

%h1 Assets

%p 
  Assets and images can be uploaded and then attached or inserted into pages, snippets and layouts. 
  Click on a asset name below to edit it or click <code>Remove</code> to delete it.

<<<<<<< HEAD:app/views/assets/index.html.haml
= render :partial => 'assets_container'
=======
%p
  %label Search
>>>>>>> 73e6cdbd2e94dad6023194d150e01c06b576b1ca:app/views/assets/index.html.haml

#assets_table
  = render :partial => 'asset_table'
  
= render :partial => 'assets_container'
  
%p= link_to image_tag('admin/new-asset.png', :alt => 'New Asset'), new_asset_path