- include_stylesheet 'admin/assets'

%h1 Assets

%p 
  Assets and images can be uploaded and then attached or inserted into pages, snippets and layouts. 
  Click on a asset name below to edit it or click <code>Remove</code> to delete it.

%p
  %label Search

#assets_table
  = render :partial => 'asset_table'
  
= render :partial => 'assets_container'
  
%p= link_to image_tag('admin/new-asset.png', :alt => 'New Asset'), new_asset_path