- include_stylesheet 'admin/assets' 

%h1= "New Asset"
- form_for :asset, :url => assets_path, :html => { :method => "post", :multipart => true } do |form|
  = render :partial => "form", :locals => { :form => form }
