%h1 Remove Asset

%p  
  Are you sure you want to 
  %strong.warning permanently remove 
  = "the asset #{@asset.title}?"
  
  %table.index
    %tr
      %td
        = image_tag @asset.upload.url(:small)